[submodule "aweshell"]
	path = extensions/aweshell
	url = git@github.com:manateelazycat/aweshell.git
[submodule "awesome-pair"]
	path = extensions/awesome-pair
	url = git@github.com:manateelazycat/awesome-pair.git
[submodule "targets"]
	path = extensions/targets
	url = git@github.com:noctuid/targets.el.git
[submodule "elispfl"]
	path = extensions/elispfl
	url = git@github.com:cireu/elispfl.git
[submodule "apheleia"]
	path = extensions/apheleia
	url = git@github.com:raxod502/apheleia.git
[submodule "emacs-application-framework"]
	path = extensions/emacs-application-framework
	url = git@github.com:manateelazycat/emacs-application-framework.git
[submodule "company-anywhere"]
	path = extensions/company-anywhere
	url = https://github.com/zk-phi/company-anywhere.git
[submodule "popweb"]
	path = extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
